<% if @blog.cover_image.attached? %>
  <%= render 'shared/banner', cover_img: @blog.cover_image.url, title: @blog.title, categories: @blog.categories %>
<% else %>
  <%= render 'shared/banner', title: @blog.title, categories: @blog.categories %>
<% end %>

<% if user_signed_in? %>
  <div class="blog-actions">
    <%= render "shared/delete_confirmation_for", resource: @blog, resource_identifier: @blog.title %>
    <%= link_to "Edit", edit_blog_path(@blog) %>
  </div>
<% end %>

<div class="trix-content trix-overrides">
  <%= @blog.body %>
  <div class="sk-link sk-link-margin-top">
    <%= link_to "Return to all blogs", blogs_path %>
  </div>
</div>