<% if @blog.cover_image.attached? %>
  <%= render 'shared/banner', cover_img: @blog.cover_image.url, title: @blog.title, categories: @blog.categories  %>
<% else %>
  <%= render 'shared/banner', title: @blog.title, categories: @blog.categories %>
<% end %>

<p class="notice" ><%= notice %></p>

<div class="blog-actions">
  <%= button_to "Delete", @blog, method: :delete, style: "color: red;" %>
  <%= link_to "Edit", edit_blog_path(@blog) %>
</div>

<div class="trix-content trix-overrides">
  <%= @blog.body %>
  <div class="sk-link">
    <%= link_to "Return to all blogs", blogs_path %>
  </div>
</div>