<% if defined? cover_img %>
  <div class="main-banner" style="background-image: url('<%= cover_img %>')">
    <div class="main-banner-overlay"></div>
    <h1><%= title %></h1>
    <% if defined? categories %>
      <div class="blog-categories-overlay">
        <ul>
          <% categories.each do |category| %>
            <li>
              <%= category.name %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="main-banner" style="background-image: url('')">
    <div class="main-banner-overlay"></div>
    <h1><%= title %></h1>
    <% if defined? categories %>
      <div class="blog-categories-overlay">
        <ul>
          <% categories.each do |category| %>
            <li>
              <%= category.name %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>