<% #========= Desktop Navigation ========= %>

<div class="main-navigation" id="main-navigation">
  <div class="title">
    <%= svg('steven-klavins-logo.svg', root_path) %>
  </div>
  <div class="items">
    <%= link_to "Home", root_path %>
    <%= link_to "Blog", blogs_path %>
    <%= link_to "Contact", contact_path %>
    <%= link_to "About", about_path %>
    <% if user_signed_in? %>
      <%= link_to "Admin", admin_panel_path %>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    <% end %>
  </div>
</div>

<% #========= Mobile Navigation ========= %>

<div class="main-navigation-mobile" id="main-navigation-mobile">
  <div class="title">
    <%= svg('steven-klavins-logo.svg', root_path) %>
  </div>

  <div class="hamburger-container">
    <div class="hamburger" id="hamburger" onclick="hamburgerIsActive()">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </div>
</div>

<div class="mobile-menu hidden" id="mobile-menu">
  <ul>
    <li>
      <%= link_to "Home", root_path %>
    </li>
    <li>
      <%= link_to "Blog", blogs_path %>
    </li>
    <li>
      <%= link_to "About", about_path %>
    </li>
    <li>
      <%= link_to "Contact", contact_path %>
    </li>
    <% if user_signed_in? %>
      <li>
        <%= link_to "Admin", admin_panel_path %>
      </li>
      <li>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
      </li>
    <% end %>
  </ul>
</div>

<script>
    function hideMenu() {
        document.getElementById("mobile-menu").classList.replace("open", "hidden")
        document.getElementById("hamburger").classList.remove("is-active")
    };

    function showMenu() {
        if (window.innerWidth < 600) {
            document.getElementById("mobile-menu").classList.replace("hidden", "open")
            document.getElementById("hamburger").classList.add("is-active")
        }
    };

    // Hide mobile menu on larger screens
    window.addEventListener("resize", () => {
        if (window.innerWidth > 600) hideMenu()
    });

    // Add and remove the is-active CSS class to trigger the animation and dropdown menu.
    function hamburgerIsActive() {
        let hamburger = document.getElementById("hamburger");

        if (hamburger.classList.contains("is-active")) {
            hideMenu()
        } else {
            showMenu()
        }
    }
</script>