<%= render 'shared/banner', title: "Welcome", cover_img: image_url("banner_img_2.jpg") %>
<%= javascript_include_tag('shared/page_transitions.js') %>
<%= javascript_include_tag('shared/animations.js') %>

<div>
  <div class="home">
    <div>
      <div class="home-block-section">
        <div class="testimonials-container">
          <span id="tag-line" class="lead-tag-line">
            <%= editable_description("Home", "heading") %>
          </span>
          <div class="testimonials">
            <%= render 'shared/carousel' %>
          </div>
        </div>
      </div>
    </div>

    <% #============================================== Languages =================================================== %>

    <div>
      <div class="home-block-section fade-in">
        <h3 style="text-align: center">
          Languages
        </h3>

        <div class="icons-container">
          <div class="icon-title">
            <h3>
              Proficient In
            </h3>
          </div>

          <div class="icons-block">
            <div class="icon-container">
              <div class="icon">
                <%= svg('dev-icons/ruby.svg') %>
              </div>
              <span>Ruby</span>
            </div>

            <div class="icon-container">
              <div class="icon">
                <%= svg('dev-icons/javascript.svg') %>
              </div>
              <span>JavaScript</span>
            </div>
          </div>
          <%= editable_description("Home", "languages_proficient_in") %>
        </div>

        <div class="icons-container">
          <div class="icon-title">
            <h3>
              Familiar With
            </h3>
          </div>

          <div class="icons-block">
            <div class="icon-container">
              <div class="icon">
                <%= svg('dev-icons/c-sharp.svg') %>
              </div>
              <span>C#</span>
            </div>

            <div class="icon-container">
              <div class="icon">
                <%= svg('dev-icons/c-plusplus.svg') %>
              </div>
              <span>C++</span>
            </div>

            <div class="icon-container">
              <div class="icon">
                <%= svg('dev-icons/java.svg') %>
              </div>
              <span>Java</span>
            </div>

            <div class="icon-container">
              <div class="icon">
                <%= svg('dev-icons/python.svg') %>
              </div>
              <span>Python</span>
            </div>
          </div>
          <%= editable_description("Home", "languages_familiar_with") %>
        </div>
      </div>
    </div>


    <% #========================================= Frameworks/Libraries ============================================= %>

    <div>
      <div class="home-block-section fade-in">
        <h3 style="text-align: center">
          Technologies
        </h3>

        <div class="icons-container">
          <div class="icon-title">
            <h3>
              Proficient In
            </h3>
          </div>

          <div class="icons-block">
            <div class="icon-container">
              <div class="icon">
                <%= svg('dev-icons/ruby-on-rails.svg') %>
              </div>
              <span>Rails</span>
            </div>
          </div>
          <%= editable_description("Home", "technologies_proficient_in") %>
        </div>

        <div class="icons-container">
          <div class="icon-title">
            <h3>
              Familiar With
            </h3>
          </div>

          <div class="icons-block">
            <div class="icon-container">
              <div class="icon">
                <%= svg('dev-icons/dot-net.svg') %>
              </div>
              <span>.Net</span>
            </div>

            <div class="icon-container">
              <div class="icon">
                <%= svg('dev-icons/spring.svg') %>
              </div>
              <span>Spring MVC</span>
            </div>

            <div class="icon-container">
              <div class="icon">
                <%= svg('dev-icons/flask.svg') %>
              </div>
              <span>Flask</span>
            </div>

            <div class="icon-container">
              <div class="icon">
                <%= svg('dev-icons/react.svg') %>
              </div>
              <span>React</span>
            </div>

            <div class="icon-container">
              <div class="icon">
                <%= svg('dev-icons/docker.svg') %>
              </div>
              <span>Docker</span>
            </div>

            <div class="icon-container">
              <div class="icon">
                <%= svg('dev-icons/nodejs.svg') %>
              </div>
              <span>NodeJS</span>
            </div>
          </div>
          <%= editable_description("Home", "technologies_familiar_with") %>
        </div>
      </div>
    </div>

    <% #============================================== Experience ================================================== %>

    <div class="home-block-section fade-in">
      <div class="experiences">
        <h3>Experience</h3>
        <%= render @experiences %>
      </div>

      <% if current_user %>
        <div id="experience-toolbar" class="experience-toolbar">
          <div><%= link_to "Add +", new_experience_path, style: "color: green;" %></div>
        </div>
      <% end %>
    </div>

    <% #=========================================== Areas Of Interest ============================================== %>

    <div class="home-block-section fade-in" style="overflow: visible">
      <h3 style="text-align: center">My Areas Of Interest</h3>
      <div class="areas-of-interest-container">
        <div>
          <h3>Software Engineering</h3>
          <%= svg("graphic-01-coding.svg") %>
          <%= editable_description("Home", "areas_of_interest_software") %>
        </div>
        <div>
          <h3>CAD & CAM</h3>
          <%= svg("graphic-02-3d.svg") %>
          <%= editable_description("Home", "areas_of_interest_cad") %>
        </div>
        <div>
          <h3>Electrical Engineering</h3>
          <%= svg("graphic-03-electric.svg") %>
          <%= editable_description("Home", "areas_of_interest_electrical") %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    // Setup listeners for scroll event fade ins.
    addScrollListeners()
</script>





