<%= render 'shared/banner', title: "About", cover_img: image_url("banner_img_2.jpeg") %>
<div class="about">
  <div class="about-row">
    <h3>Background</h3>
    <div class="about-img-container">
      <%= image_tag("about-photo-1.jpg", alt: "Image of Steven Klavins") %>
    </div>

    <%= editable_description("About", "background_p1") %>
    <%= editable_description("About", "background_p2") %>
  </div>

  <div class="about-row fade-in">
    <h3>Education</h3>
    <div class="about-img-container">
      <%= image_tag("makers-hackathon.jpg", alt: "2022 Hackathon at Maker Academy") %>
    </div>

    <%= editable_description("About", "education_p1") %>
    <%= editable_description("About", "education_p2") %>
  </div>

  <div class="about-row fade-in">
    <h3>Hobbies</h3>
    <div class="about-img-container">
      <%= image_tag("about-photo-2.jpg", alt: "Steven Klavins Playing Guitar") %>
    </div>

    <%= editable_description("About", "hobbies_p1") %>
    <%= editable_description("About", "hobbies_p2") %>
    <%= editable_description("About", "hobbies_p3") %>
  </div>
</div>

<%= javascript_include_tag('shared/page_transitions.js') %>

<script>
    // Setup listeners for scroll event fade ins.
    addScrollListeners()
</script>