<%= render 'shared/banner', title: "About", cover_img: image_url("banner_img_2.jpeg") %>
<%= javascript_include_tag('shared/page_transitions.js') %>
<div class="about">
  <div class="about-row">
    <h3>Background</h3>
    <div class="about-img-container">
      <%= image_tag("about-photo-1.jpg", alt: "Image of Steven Klavins") %>
    </div>
    <p>
      Hello, I'm Steven, a 29-year-old Software Engineer residing in London, UK. Alongside my passion for tech and
      engineering, I also have a wide range of interests. I am a musician, a self-proclaimed horror movie nerd,
      and I find enjoyment in watching documentaries and animated films. While I'm not particularly enthusiastic
      about sports, I have always had a deep love for swimming and even had the opportunity to volunteer as a
      swimming teacher in the past.
      <br>
      <br>
      Some might describe me as a quirky individual, as I fully embrace alternative culture and have a affinity for
      Gothic fashion and Prog-Metal. In terms of my musical abilities, I play multiple instruments, including guitar,
      bass, and I dabble with the piano. When inspiration strikes, I find enjoyment in composing music. Over the past
      decade, I've had the privilege of playing live in numerous venues across London and have been part of various
      projects.
    </p>
  </div>

  <div class="about-row fade-in">
    <h3>Education</h3>
    <div class="about-img-container">
      <%= image_tag("makers-hackathon.jpg", alt: "2022 Hackathon at Maker Academy") %>
    </div>
    <p>
      I hold a Bachelor's degree in Digital Arts from Kingston University and successfully graduated from
      Makers Academy, London's leading coding bootcamp in 2020. Additionally, I have a foundation award in Graphics,
      an A level in design and technology and an A level in media studies achieving double distinction (A+). I also
      possess a certificate of achievement from Coventry University. This was obtained during my ISO 27001 training
      at Amphora Research Systems.
      <br>
      <br>
      As part of a continuous effort to further my skill-sets I continue to study a range of topics in my own time.
      I have taken 6 online courses focused around development and engineering in the past year alone.
    </p>
  </div>

  <div class="about-row fade-in">
    <h3>Hobbies</h3>
    <div class="about-img-container">
      <%= image_tag("about-photo-2.jpg", alt: "Steven Klavins Playing Guitar") %>
    </div>
    <p>
      As mentioned earlier, I have a deep passion for music and thoroughly enjoy both attending concerts and performing
      whenever I get the chance. Photography is another interest of mine, and I often find myself with a camera in hand.
      Throughout my journeys, I have been fortunate enough to capture breathtaking landscapes and photograph some of my
      favorite musicians.
      <br>
      <br>
      I have an insatiable passion for thrills, particularly when it comes to rollercoasters and fair rides.
      Every visit to a theme park is an adventure I wholeheartedly embrace. As a devoted horror movie buff, I find
      great enjoyment in experiencing the exhilaration of a good scare. However, my interests extend beyond
      fear-inducing tales, as I am equally enthralled by the world of animation and documentaries.
      <br>
      <br>
      Engineering, in all its diverse forms, has a captivating hold on me, driving my curiosity to explore various
      disciplines within this field. I actively study and delve into the depths of engineering knowledge.
      Putting my newly acquired insights to practical use, I engage in activities like 3D printing and circuit
      building, continuously pushing the boundaries of my understanding through experimentation.

    </p>
  </div>
</div>

<script>
    // Setup listeners for scroll event fade ins.
    addScrollListeners()
</script>