<%= render 'shared/banner', title: "Contact", cover_img: image_url("banner_img_2.jpeg") %>
<%= javascript_include_tag('contact/contact.js') %>
<div class="contact">
  <div class="contact-methods">
    <h3>Fancy a chat?</h3>
    <p>
      Greetings! Fancy a chat? If so please feel to drop me a line via email, LinkedIn or email.
      Alternatively you can fill out the contact form below and I'll be sure to be in touch
      ASAP.
    </p>
    <ul>
      <li>
        <span class="icon-linkedin"></span>
        <a href="https://www.linkedin.com/in/steven-klavins-90b02a199/" target="_blank">
          Steven Klavins
        </a>
      </li>
      <li>
        <span class="icon-envelop"></span>
        <a href="mailto: stevenklavins94@gmail.com">
          stevenklavins94@gmail.com
        </a>
        <div class="copy-email-container">
          <button id="copy-email"><span class="icon-files-empty"></span></button>
          <span id="copy-description" class="copy-description">Copy</span>
          <span id="copy-event" class="copy-event">Copied to clipboard!</span>
        </div>
      </li>
    </ul>
  </div>

  <div class="sk-form">
    <div class="form-title">
      <h3>Contact Form</h3>
      <span style="display: inline-block">Please complete all fields *</span>
    </div>

    <%= form_with scope: :contact_form, url: contact_form_index_path, method: :post, local: true do |form| %>
      <div class="form-group">
        <%= form.text_field :name, placeholder: "Name", class: "form-control", required: true %>
      </div>
      <div class="form-group">
        <%= form.text_field :subject, placeholder: "Subject", class: "form-control", required: true %>
      </div>
      <div class="form-group">
        <%= form.email_field :email, placeholder: "Email", class: "form-control", id: "contact-email",
                             onfocus: "resetColor(this)", onblur: "fieldIsValidColor(this)", required: true %>
      </div>
      <div class="form-group">
        <%= form.text_area :message, class: "form-control", required: true %>
      </div>
      <%= form.submit "Send", class: "btn btn-primary", id: "submit-contact-form" %>
    <% end %>
  </div>
</div>

<script>
    // Add email copy event listener.
    document.querySelector('#copy-email').addEventListener('click', () => {
        const clipboard = Clipboard();
        clipboard.copyText("stevenklavins94@gmail.com");
    });

    // Add form validation listeners.
    addContactFormValidationListeners()
</script>