<%= render 'shared/banner', title: "Contact", cover_img: image_url("banner_img_2.jpeg") %>
<div class="contact">
  <div class="contact-methods">
    <h3>Fancy a chat?</h3>
    <p>
      Greetings! Fancy a chat? If so please feel to drop me a line via email, LinkedIn or email.
      Alternatively you can fill out the contact form below and I'll be sure to be in touch
      ASAP.
    </p>
    <ul>
      <li>
        <span class="icon-linkedin"></span>
        <a href="https://www.linkedin.com/in/steven-klavins-90b02a199/" target="_blank">
          Steven Klavins
        </a>
      </li>
      <li>
        <span class="icon-envelop"></span>
        <a href="mailto: stevenklavins94@gmail.com">
          stevenklavins94@gmail.com
        </a>
      </li>
      <li>
        <button id="copy-email">Copy address</button>
        <span id="copy-event" class="copy-event">Copied to clipboard!</span>
      </li>
    </ul>
  </div>

  <div class="contact-form">
    <h3>Contact Form</h3>
    <%= form_with scope: :contact_form, url: contact_path, method: :post, local: true do |form| %>
      <div class="form-group">
        <%= form.text_field :name, placeholder: "Name", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.text_field :subject, placeholder: "Subject", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.email_field :email, placeholder: "Email", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.text_area :message, class: "form-control" %>
      </div>
      <%= form.submit "Send", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script>
    const Clipboard = () => {
        const copyText = async (text) => {
            try {
                await navigator.clipboard.writeText(text);
                flashCopyEvent()

            } catch (error) {
                alert(`Failed to copy text to clipboard: ${error.message}`);
            }
        };
        return {
            copyText
        };
    };

    document.querySelector('#copy-email').addEventListener('click', () => {
        const clipboard = Clipboard();
        clipboard.copyText("stevenklavins@gmail.com");
    });

    function flashCopyEvent() {
        let notice = document.getElementById("copy-event")
        notice.classList.add("active")
        setTimeout(function () {
            notice.classList.remove("active")
        }, 1500)
    }
</script>