<%= render 'shared/banner', title: "Welcome", cover_img: image_url("banner_img_2.jpeg") %>
<%= javascript_include_tag('shared/page_transitions.js') %>
<%= javascript_include_tag('shared/animations.js') %>
<div>
  <%#= render 'home/pc-animation' %>

  <div class="home">
    <div>
      <div class="home-block-section">
        <div class="testimonials-container">
          <p id="tag-line" class="lead-tag-line">
            "A dedicated Full-Stack Engineer with over <%= years_experience %> years of industry experience, Makers Academy alumnus,
            and university graduate holding a BA in Digital Arts and Technology."
          </p>
          <div class="testimonials">
            <%= render 'home/carousel' %>
          </div>
        </div>
      </div>
    </div>

    <% #============================================== Languages =================================================== %>

    <div>
      <div class="home-block-section fade-in">
        <h3 style="text-align: center">
          Languages
        </h3>

        <div class="icons-container">
          <div class="icon-title">
            <h3>
              Proficient In
            </h3>
          </div>

          <div class="icons-block">
            <div class="icon-container">
              <div class="icon">
                <%= svg('dev-icons/ruby.svg') %>
              </div>
              <span>Ruby</span>
            </div>

            <div class="icon-container">
              <div class="icon">
                <%= svg('dev-icons/javascript.svg') %>
              </div>
              <span>JavaScript</span>
            </div>
          </div>
          <p>
            Ruby and Javascript form a significant part of my industry experience. I have utilized both languages
            extensively in developing responsive JS interfaces and Rails applications. Further, while attending
            Makers Academy, I immersed myself in the study and practical application of both languages, exploring
            a variety of use cases and frameworks.
          </p>
        </div>

        <div class="icons-container">
          <div class="icon-title">
            <h3>
              Familiar With
            </h3>
          </div>

          <div class="icons-block">
            <div class="icon-container">
              <div class="icon">
                <%= svg('dev-icons/c-sharp.svg') %>
              </div>
              <span>C#</span>
            </div>

            <div class="icon-container">
              <div class="icon">
                <%= svg('dev-icons/c-plusplus.svg') %>
              </div>
              <span>C++</span>
            </div>

            <div class="icon-container">
              <div class="icon">
                <%= svg('dev-icons/java.svg') %>
              </div>
              <span>Java</span>
            </div>

            <div class="icon-container">
              <div class="icon">
                <%= svg('dev-icons/python.svg') %>
              </div>
              <span>Python</span>
            </div>
          </div>
          <p>
            I am familiar with several languages, both in and outside of a commercial setting, and I continuously
            strive to expand my vocabulary. I have commercial experience using Python and Java. Specifically, I
            have contributed to the development and maintenance of a flagship Java application, as well as a number
            of Sphinx sites. Furthermore, I have also become familiar with C++ through game development and my
            ongoing exploration into the world of microcontrollers.
          </p>
        </div>
      </div>
    </div>


    <% #========================================= Frameworks/Libraries ============================================= %>

    <div>
      <div class="home-block-section fade-in">
        <h3 style="text-align: center">
          Technologies
        </h3>

        <div class="icons-container">
          <div class="icon-title">
            <h3>
              Proficient In
            </h3>
          </div>

          <div class="icons-block">
            <div class="icon-container">
              <div class="icon">
                <%= svg('dev-icons/ruby-on-rails.svg') %>
              </div>
              <span>Rails</span>
            </div>
          </div>
          <p>
            My experience with Ruby on Rails spans more than 3 years. During my time at Amphora Research Systems I
            successfully upgraded, maintained, and developed multiple commercial projects, further deepening my
            knowledge of the Rails ecosystem. As a result, I have gained a competent grasp of the framework and
            its intricacies.
          </p>
        </div>

        <div class="icons-container">
          <div class="icon-title">
            <h3>
              Familiar With
            </h3>
          </div>

          <div class="icons-block">
            <div class="icon-container">
              <div class="icon">
                <%= svg('dev-icons/dot-net.svg') %>
              </div>
              <span>.Net</span>
            </div>

            <div class="icon-container">
              <div class="icon">
                <%= svg('dev-icons/spring.svg') %>
              </div>
              <span>Spring MVC</span>
            </div>

            <div class="icon-container">
              <div class="icon">
                <%= svg('dev-icons/flask.svg') %>
              </div>
              <span>Flask</span>
            </div>

            <div class="icon-container">
              <div class="icon">
                <%= svg('dev-icons/react.svg') %>
              </div>
              <span>React</span>
            </div>

            <div class="icon-container">
              <div class="icon">
                <%= svg('dev-icons/docker.svg') %>
              </div>
              <span>Docker</span>
            </div>

            <div class="icon-container">
              <div class="icon">
                <%= svg('dev-icons/nodejs.svg') %>
              </div>
              <span>NodeJS</span>
            </div>
          </div>
          <p>
            I am familiar with a variety of technologies, including Docker, Spring MVC, Flask, Node, and React,
            among many others. My work ethic is fueled by curiosity, which drives me to continually broaden my
            knowledge and skill set. I find the journey of learning new skills to be deeply enriching,
            and I always approach it with enthusiasm.
          </p>
        </div>
      </div>
    </div>

    <% #============================================== Experience ================================================== %>

    <div class="home-block-section fade-in">
      <h3 style="text-align: center">Experience</h3>
      <div class="organizations-block">
        <a href="https://www.amphora-research.com/">
          <%= image_tag('amphora-logo.png') %>
        </a>
        <h3>Software Engineer - 02/2021 - 05/2023</h3>
        <p>
          For more than two years I worked for Amphora Research Systems as a Full-Stack Software Engineer.
          I was responsible for developing several commercially launched applications as well as maintaining a variety
          of others. My responsibilities encompassed a wide range of tasks, including implementing feature requests,
          conducting upgrades, designing front-end UIs, performing testing, and managing deployment processes.
        </p>
      </div>
    </div>


    <% #=========================================== Areas Of Interest ============================================== %>

    <div class="home-block-section fade-in" style="overflow: visible">
      <h3 style="text-align: center">My Areas Of Interest</h3>
      <div class="areas-of-interest-container">
        <div>
          <h3>Software Engineering</h3>
          <%= svg("graphic-01-coding.svg") %>
          <p>
            My primary skill set is in programming and I have studied it avidly since 2019. I independently taught
            myself OOP principles, attended Makers Academy and joined the industry in early 2021.
            I'm continually broadening my knowledge and in the past year I have successfully completed six
            online development courses totaling over 250 hours of lecture time.
          </p>
        </div>
        <div>
          <h3>CAD & CAM</h3>
          <%= svg("graphic-02-3d.svg") %>
          <p>
            Having pursued a degree with a strong focus on 3D design, I found myself inevitably drawn into the
            captivating world of 3D printing and parametric modeling. It is difficult to put into words the
            overwhelming sense of empowerment I have felt while witnessing the ever-increasing accessibility of
            additive and subtractive manufacturing. This accessibility has opened up avenues for me to explore
            the practical applications of mechanical engineering and kinematics in ways I never anticipated.
          </p>
        </div>
        <div>
          <h3>Electrical Engineering</h3>
          <%= svg("graphic-03-electric.svg") %>
          <p>
            In early 2020, my fascination with the potential uses of microcontrollers prompted me to dive into the
            world of electronics. This pursuit led me to dedicate my spare time to studying this field, with the
            ultimate aim of bridging my knowledge between software and hardware. I remain immersed in this field,
            continually striving to reach a level of expertise where I can confidently develop my own PCBs from the
            ground up.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    // Setup listeners for scroll event fade ins.
    addScrollListeners()
</script>





