<div class="experience">
  <% if experience.company_url %>
    <a href="<%= experience.company_url %>">
      <%= image_tag(experience.company_logo, alt: "#{experience.company} Logo") %>
    </a>
  <% else %>
    <%= image_tag(experience.company_logo, alt: "#{experience.company} Logo") %>
  <% end %>
  <h3>
    <%= "#{experience.position} #{experience.display_dates}" %>
  </h3>
  <p>
    <%= experience.description %>
  </p>
</div>

<% if current_user %>
  <div id="experience-toolbar" class="experience-toolbar">
    <ul>
      <li><%= link_to "Edit", edit_experience_path(experience), id: "edit-experience-#{experience.id}", style: "color: green;" %></li>
      <%= render "shared/delete_confirmation_for", resource: experience, resource_identifier: experience.company %>
      </li>
    </ul>
  </div>
<% end %>

